<html>
  <head>
    <title>WyckoffAI</title>
    <!-- used to supress favicon error -->
    <link rel="shortcut icon" href="/sdfse" />
    <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
  </head>
  <body>
    <h2>Wyckoff Ai Model</h2>
    <div id="lossesPlot"></div>

    <!-- These script tags were used in an early version -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hyperparameters@latest/dist/hyperparameters.min.js"> </script> --> 

    <script>
      const run = async () => {
        let history = <%- JSON.stringify(history) %>;
        plotLosses(history);
      }

      const plotLosses = (history) => {
        let valLoss = {
          y: history.history.val_loss,
          type: "scatter",
          mode: "lines",
          name: "Validation Loss"
        };

        let trainingloss = {
          y: history.history.loss,
          type: "scatter",
          mode: "lines",
          name: "Training Loss"
        };

        let layout = {
          title: "Training and Validation Loss",
          xaxis: {
            title: "Epochs",
            showgrid: false,
            zeroline: false
          },
          yaxis: {
            title: "Loss",
            showline: false
          }
        };

        let plotData = [valLoss, trainingloss];

        Plotly.newPlot("lossesPlot", plotData, layout);
      }

      run();
    </script>
  </body>
</html>